
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.drop{
    transform: translte3d(100px,30px,0px) ;
}

.btn-space {
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.title-space {
    --margin-right: 10px;
    --margin-bottom: 30px;
    margin-top: 30px;
}

