<nav class="navbar navbar bg-info">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <a class="navbar-header"><strong>Rabo Glassdoor Booking</strong></a>
            </a>
        </div>
    </div>
</nav>

<nav class="navbar navbar bg-info fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <li class="nav-item d-none d-sm-inline-block">
              <a class="nav-link"> Copyright © Cognizant - Rabobank </a>
            </li>
        </div>
    </div>
  </nav>