<nav class="navbar navbar bg-info">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <h3 class="panel-title text-light"><strong>Rabo Glassdoor Booking</strong></h3>
            </a>
        </div>
    </div>
</nav>

<nav class="navbar navbar bg-info fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <h5 class="panel-title text-light">Copyright © Rabobank</h5>
            </a>
        </div>
    </div>
</nav>