<nav class="navbar navbar bg-info nav-dark white-text">
  <div class="container-fluid">
      <div class="navbar-header">
          <li class="nav-item d-none d-sm-inline-block">
              <a class="nav-link"><h2><strong> Cognizant - Rabobank </strong></h2></a>
            </li>
          <li class="nav-item d-none d-sm-inline-block">
              <span>  Internal</span>
            </li>
      </div>
  </div>
</nav>

<nav class="navbar navbar bg-info fixed-bottom white-text">
  <div class="container-fluid">
      <div class="navbar-header">
          <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link"> Copyright © Cognizant - Rabobank </a>
          </li>
      </div>
  </div>
</nav>
