<app-spinner></app-spinner>
<div class="container">
    <div class="row">
        <div class="container register-form border border-info" style="margin-top:30px"><br>
            <div class="alert alert-danger" *ngIf="errorMsg">
                <a class="close" data-dismiss="alert" href="#"></a>{{errorMsg}}
            </div>

            <div class="alert alert-success" *ngIf="successMsg">
                <a class="close" data-dismiss="alert" href="#"></a>{{successMsg}}
            </div>

            <!-- <div class="col-md-10 col-md-offset-1"> -->
            <div class="panel panel-default ">

                <div class="panel-heading">
                    <div style="float:right; font-size: 80%; position: relative; top:-10px">
                    </div>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Create Schedule </strong></h3>
                    <hr>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px">
                    </div>
                </div>

                <div class="panel-body">

                    <div role="form" id="quickForm" class="form" aria-autocomplete="none">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">

                                <div class="form-group">

                                    <span class="text-danger"><strong>* </strong></span>
                                    <select #rId class="form-control drop" id="sel1">
                                        <option value="0">--G1--</option>
                                        <option value="0">--G2--</option>
                                        <option value="0">--G3--</option>

                                        <option *ngFor="let room of roomList" value={{room.id}}>
                                            {{room.roomName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">

                                <div class="form-group">

                                    <span class="text-danger"><strong>* </strong></span>
                                    <select #rId class="form-control drop" id="sel1">
                                        <option value="0">--All--</option>
                                        <option value="0">Sprint Planning</option>
                                        <option value="0">standup meeting</option>
                                        <option value="0">retro meeting</option>

                                        <option value="0"></option>
                                        <option *ngFor="let meeting of meetingList" value={{meeting.id}}>
                                            {{room.roomName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">

                                    <br>
                                    <mat-radio-group aria-label="Select an option" (change)="onChange($event)">
                                        <mat-radio-button value="1">Today</mat-radio-button>&nbsp;&nbsp;
                                        <mat-radio-button value="2">Tomorrow</mat-radio-button>&nbsp;&nbsp;
                                        <mat-radio-button value="3">Weekly</mat-radio-button>&nbsp;&nbsp;
                                        <mat-radio-button value="4">Monthly</mat-radio-button>&nbsp;&nbsp;
                                        <mat-radio-button value="5">Custom</mat-radio-button>&nbsp;&nbsp;

                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">

                                    <br>
                                    <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Start Time">
                                    <owl-date-time #dt1 pickerType="timer"> </owl-date-time>


                                    <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="End Time">
                                    <owl-date-time #dt2 pickerType="timer"> </owl-date-time>


                                </div>
                            </div>

                            <div *ngIf="isrequired">
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Pick date/dates</mat-label>
                                    <textarea [(ngModel)]="dateString" matInput cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize" readonly cdkAutosizeMinRows="1"
                                        cdkAutosizeMaxRows="5"></textarea>
                                    <mat-icon matSuffix (click)="openDatepicker()" style="cursor: pointer;">
                                        calendar_today</mat-icon>
                                </mat-form-field>
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="text-danger"><strong>*</strong> </span> mandatory for Book
                        </div>

                        <div class="input-group">
                        </div>

                        <button type="submit" class="btn btn-info btn-space"
                            (click)="bookRoom(rId,dt,ft,tt,purpose)">Book</button>

                        <button type="button" class="btn btn-info btn-space" (click)="reset()">Reset</button>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-12">

                    <jqxExpander>
                        <div>
                            Scheduled rooms
                        </div>
                        <div>
                            <jqxScheduler #scheduler [date]="date" [source]="dataAdapter" [dayNameFormat]="'abbr'"
                                [showLegend]="true" [view]="'agendaView'" [resources]="resources" [views]="views"
                                [appointmentDataFields]="appointmentDataFields">
                            </jqxScheduler>
                        </div>

                    </jqxExpander>
                </div>
            </div>

        </div>